<ion-content>  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label>PEDIDO: {{ this.idPed }}</ion-label>
      </ion-col>
    </ion-row>
</ion-grid>    
  <ion-list class="ion-padding">
    <ion-item  *ngFor="let infPed of infoPedProv" (click)="actProd(infPed)"> 
      <ion-checkbox slot="start" [(ngModel)]="infPed.estado" [disabled]="!habilitado"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ infPed.nombre_es }}          
        </h2>
        <p>          
          {{ infPed.maduracion }} /
          {{ infPed.presentacion }} /
          {{ infPed.cantidad }}          
        </p>
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="onFinAlist()" [disabled]="!habilitado">CONFIRMAR ALISTAMIENTO</ion-button>          
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-list>
</ion-content>