<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [disabled]="!habilitado" defaultHref="/{{this.strDefHref}}"></ion-back-button>
      </ion-buttons>
      <ion-title>TRANSPORTE DE PEDIDOS</ion-title>
    </ion-toolbar>
  <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label>PEDIDOS</ion-label>
        </ion-col>
      </ion-row>
  </ion-grid>    
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-item (click)="onClickPed(idPed.pedido)" *ngFor="let idPed of pedInfoTrans" detail>
      <ion-col>
        <ion-badge [color]="idPed.txt_color_estado">{{idPed.txt_estado}}</ion-badge>
      </ion-col>
      <ion-col>
        <ion-label>{{ idPed.pedido }}</ion-label>
      </ion-col>
    </ion-item>
  </ion-card>
</ion-content>