<form #lgFormulario="ngForm" (ngSubmit)="onIngresar()">
  <ion-list>    
      <ion-item>
          <ion-label>
            <ion-icon size="large" src="assets/icon/ico-usuario.svg"></ion-icon>              
          </ion-label>
          <ion-input type="text"
                     name="usuario"
                     [(ngModel)]="usuario.lgUsuario"
                     placeholder="USUARIO"
                     required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-icon size="large" src="assets/icon/ico-pass.svg"></ion-icon>
          </ion-label>
          <ion-input type="password"
                     name="contrasena"
                     [(ngModel)]="usuario.lgContrasena"
                     placeholder="CONTRASEÑA"
                     required></ion-input>
      </ion-item>
      <ion-button expand="full"
                  type="submit"
                  [disabled]="lgFormulario.invalid">INGRESAR</ion-button>
  </ion-list>
</form>