<ion-content>
  <ion-grid style="height: 100%;">
      <ion-row style="height: 100%;">
          <ion-col>
            <div class="botones">
              <img class="logo" src="assets/imagenes/logo.png">
               <ion-button size="large" color="light" routerLink="/ingresar">
                  <span class="txtIngreso">INGRESAR</span>
                  <ion-icon style="color:rgb(93, 75, 255)" name="log-in"></ion-icon>
               </ion-button>            
            </div>
          </ion-col>
      </ion-row>    
  </ion-grid>
</ion-content>
